.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 101;
  overflow: hidden;
}

.doodle {
  position: absolute;
  opacity: 0.12;
}

@media (max-width: 900px) {
  .container {
    display: none;
  }
}
